<html>
  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
  </head>
  <body>
    <h1>{{ message }}</h1>
  </body
</html>
